@model AddLectureViewModel
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Добавить лекцию к " + ViewBag.GroupName;

}

<div class="valign-wrapper row" >
    <div class="col card hoverable s10 pull-s1 m8 pull-m2 l6 pull-l3">
        <div class="card-content">
            <span class="card-title">@ViewBag.Title</span>
            <form method="post" asp-action="AddLecture">
                <input type="hidden" value=@Model.GroupID asp-for="GroupID" />
                <input type="hidden" value=@Model.returnUrl asp-for="returnUrl" />
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <div>
                    <label asp-for="Place">Место проведения:</label><br />
                    <input asp-for="Place" />
                    <span asp-validation-for="Place" class="red-text"></span>
                </div>

                <div>
                    <label asp-for="Date">Дата проведения:</label>
                        
                        <input class="datepicker" type="text" asp-for="Date" value="@DateTime.Now" />
                   
                    <span asp-validation-for="Date" class="red-text"></span>
                </div>

                <div>
                    <label asp-for="Description">Описание:</label><br />
                    <textarea style="height:200px;" class="materialize-textarea" asp-for="Description"> </textarea>
                    <span asp-validation-for="Description" class="red-text"></span>
                </div>

                <div>
                    <input type="submit" class="btn " value="Добавить" />
                    <a href="@Model.returnUrl" class="btn red">Отмена</a>
                </div>
            </form>




        </div>
    </div>
</div>
<script>
   

   
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>