@model ChangePasswordViewModel
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Change password";
}
<div class="valign-wrapper row" style="height:95vh;">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <div class="card-content">
            <span class="card-title">@ViewBag.Title</span> 
            <blockquote> Please enter new password.</blockquote>
            <form method="post" asp-controller="Account" asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <input type="hidden" asp-for="Token" value="@Model.Token"/>
                <input type="hidden" asp-for="UserID" value="@Model.UserID"/>
                <div>
                    <label asp-for="Password"></label><br />
                    <input type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="red-text"></span>

                </div>
                <div>
                    <label asp-for="ConfirmPassword"></label><br />
                    <input type="password" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="red-text"></span>

                </div>
                <div>
                    <div class="card-action row">
                        <input type="submit" class="btn col s6" value="Reset" />
                        <a href="/" class="btn red right col s6">Cancel</a>
                    </div>
                </div>
            </form>




        </div>
    </div>
</div>
