@model string
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Ошибка";
}
<div class="valign-wrapper row" style="height:95vh;">

    
        <div class="col s12 m6 pull-m3 ">
            <div class="card z-depth-5">
                <div class="card-image">
                    <img src="~/img/лох.jpg">
                    <span class="card-title">Ошибка при выборе задания</span>
                    <a href="@Model"  class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">rowing</i></a>
                </div>
                <div class="card-content">
                    <p>Кто то выбрал это задание быстрее вас. Сохраняйте спокойствие и продолжайте гребсти!</p>
                </div>
            </div>
        </div>
  

    



    </div>
</div>


