@model PerformViewModel
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Оставить коментарий";

}
<div class="valign-wrapper row" style="height:95vh;">
    <div class="col card hoverable s10 pull-s1 m8 pull-m2 l6 pull-l3">
        <div class="card-content">
            <span class="card-title">@ViewBag.Title</span>
            <form method="post" asp-action="Perform">
                <input type="hidden" @*value=@Model.Answer.StTaskID*@ asp-for="Answer.StTaskID" />
                <input type="hidden" @*value=@Model.Answer.StTaskID*@ asp-for="Answer.AnswerDate" />
                <input type="hidden" @*value=@Model.Answer.StTaskID*@ asp-for="Answer.UserID" />
                <input type="hidden"  asp-for="returnUrl" />
                <div asp-validation-summary="ModelOnly" class="red-text"></div>




                <div class="col s12">
                    <label asp-for="Answer.TextData">Коментарий</label>

                    <textarea class="materialize-textarea" style="height:200px;" asp-for="Answer.TextData" min="0" max="300" ></textarea>
               

                    <span asp-validation-for="Answer.TextData" class="red-text"></span>
                </div>
                <br />


               
                    <input type="submit" class="btn " value="Добавить" />
                    <a href="@Model.returnUrl" class="btn red">Отмена</a>
                </div>
            </form>




        </div>
    </div>
</div>
