@model AddFileViewModel
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Add file";
}

<div class="valign-wrapper row" style="height:95vh;">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <div class="card-content">
            <span class="card-title">@ViewBag.Title</span>
            <form method="post" asp-action="AddFile"  enctype="multipart/form-data">
                <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
            
                <div class="file-field input-field">
                    <div class="btn">
                        <span><i class="material-icons">add</i></span>
                        <input asp-for="File" type="file"  />
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload file:" />
                    </div>
                    <span asp-validation-for="File" class="red-text"></span>

                </div>
                <div>
                    <div class="card-action row">
                        <input type="submit" class="btn col s6" value="Add" />
                        <a href="@Model.ReturnUrl" class="btn red col s6">Cancel</a>
                    </div>
                </div>
            </form>




        </div>
    </div>
</div>

