@model MarkdownViewModel
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Додати текст до " + Model.PageName;
}
<div class="valign-wrapper row" >
    <div class="col card hoverable   l12">
        <div class="card-content" >
            <span class="card-title">@ViewBag.Title</span>
            <form method="post" asp-action="AddMarkdownToPage">
                <input type="hidden" value=@Model.PageID asp-for="PageID" />
                <input type="hidden" value=@Model.returnUrl asp-for="returnUrl" />
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <div>
                    <label asp-for="PageName">Назва сторінки:</label><br />
                    <input asp-for="PageName" />
                    <span asp-validation-for="PageName" class="red-text"></span>
                </div>
                <blockquote> Розмітка перевіряється санітайзером тому небезпечні елементи видаляються!</blockquote>
                
                <div style="overflow-y:auto; max-height:55vh;">
                    <label asp-for="MarkdownData">Markdown/html розмітка:</label><br />
                    <textarea style="height:55vh"  class="materialize-textarea" asp-for="MarkdownData"> </textarea>
                    <span asp-validation-for="MarkdownData" class="red-text"></span>
                </div>

                <div>
                    <input type="submit" class="btn " value="Додати" />
                    <a href="@Model.returnUrl" class="btn red">Відмінити</a>
                </div>
            </form>




        </div>
    </div>
</div>
<script>


    $(document).ready(function () {
        $('.timepicker').timepicker();
    });

    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>